*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.form {
    width: 600px;
    min-height: 100px;
    padding: 32px 24px;
    background: #fff;
    border-radius: 2px;
    margin: 24px;
    align-self: center;
    box-shadow: 0 2px 5px 0 rgba(51,62,73,.1);
}
.form-group {
    display: flex;
    margin-bottom: 16px;
    flex-direction: column;
}
.main {
    background: #f1f1f1;
    min-height: 100vh;
    display: flex;
    justify-content: center;
}